<div>
    <a [routerLink]="['/cycle-de-vie']" routerLinkActive="active" >Cycle de vie</a>
    <a [routerLink]="['/databinding']" routerLinkActive="active">Databinding</a>
    <a [routerLink]="['/demo-service/ajout']" routerLinkActive="active">Services (ajout)</a>
    <a [routerLink]="['/demo-service/lecture']" routerLinkActive="active">Services (lecture)</a>
    <a [routerLink]="['/directives']" routerLinkActive="active">Directives</a>
    <a [routerLink]="['/input']" routerLinkActive="active">Input (parent/enfant)</a>
    <a [routerLink]="['/api']" routerLinkActive="active">API</a>
    <a [routerLink]="['/recepteur', 1]" routerLinkActive="active">Recepteur (1)</a>
    <a [routerLink]="['/recepteur', 2]" routerLinkActive="active">Recepteur (2)</a>
</div>
