table {
    text-align: center;
    margin: 0;
}

thead {
    color: white;
    background-color: #000000;
}

td, th {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

table > tr {
    background-color: rgb(206, 206, 206);
}

table > tr:nth-child(odd) {
    background-color: rgb(146, 143, 143);
}