body {
    height: 100px;
    margin: 0;
}

#circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}